/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color:var(--ifm-color-primary);
  color:var(--ifm-reverse-color-primary);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer{
  background-image: url("/img/logo/logo2_black.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
  width:100%;
  height:12rem;
}